{% extends 'base.html.twig' %}

{% block body %}

<h2>Jornadas</h2>

<div class="container">
	{{ form_start(jornadasForm) }}
	{{ form_widget(jornadasForm) }}
	{{ form_end(jornadasForm) }}
</div>

{% endblock %}
